body {
    height: max-content;
}

/*左半部分工具栏*/
aside {
    white-space: nowrap;
    border: 2px dashed white;
    height: 100%;
    max-height: 714px;
}

#searcher,.hotSection {
    overflow: hidden;
    font-size: 24px;
    margin: 24px;
}

h3 {
    font-size: 24px;
}

.hotSection:hover h3 {
    color: #af926f;
}


ul {
    margin: 0;
}

li {
    padding: 4px;
}

.hotSection a {
    font-size: 20px;
    text-decoration: none;
    color: #34afab;
}

.hotSection a:hover {
    color: #5bd5d9;
}

/*右半部分筛选+浏览*/
#content {
    border: 2px;
    -webkit-margin-collapse: collapse;;
    text-align: left;
}

#content label {
    font-size: 24px;
    margin-right: 10px;
}

select {
    font-size: 18px;
    margin-right: 3%;
}

/*下为浏览图片*/
td {
    width: 25%;
    padding: 8px;
}

table img {
    padding: 4px;
    border: 2px solid #af926f;
    width: 100%;
}

/*隐藏布局用工具图*/
.tool {
    border: 0 solid black;
}