#detail{
    border: 1px solid #888888;
    box-shadow: 0 0 8px #888888;
    margin:20px;
    background-color: rgba(255,255,255,0.4);
}

#panel,#information,#description{
    border:1px solid #888888;
    box-shadow: 0 0 8px #888888;
    margin:12px;
    background-color: rgba(255,255,255,0.8);
}

/*图片面板*/
#panel{
    float: left;
    margin-right: 0;
}

#panel img{
    margin:20px;
    width: 55vw;
    height:55vw;
}

#panel p{
    text-align: center;
    margin: -4px 0 12px 0;
    font-size: 18px;
}

#panel p span{
    color: #5bd5d9;
    font-weight: bold;
}

/*右上信息栏*/
#information{
    float: right;
    font-size: 30px;
    font-family: 幼圆,sans-serif;
    width: calc(45vw - 144px);
    overflow: hidden;
}

#information p{
    margin: 20px;
    width: max-content;
}

#information span{
    color: #af926f;
}

#information span:hover{
    color: #5bd5d9;
}

/*信息栏中互动区*/
#evaluate{
    margin:12px;
    width: 400px;
}

#evaluate img{
    margin-left: 12px;
    width: 40px;
    height: 40px;
}

#evaluate span{
    margin-left: 12px;
    vertical-align: center;
}


/*右下描述栏*/
#description{
    padding: 12px 13px 14px 15px;
    float: right;
    width: calc(45vw - 144px);
    height: calc(55vw - 182px);
    overflow: hidden;
}

#description p {
    font-size: 16px;
    margin: 0;
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}