/*右下角刷新、回到顶部按钮*/
.floatButton {
    box-sizing: border-box;
    position: fixed;
    right: 0;
    bottom: 0;
    font-family: 幼圆, monospace;
    font-size: 0;
    width: 8%;
}

.floatButton img {
    width: 50%;
    border:5px dashed #af926f;
    background-color: rgba(255, 255, 255, 0.2);
}

.floatButton img:hover{
    border:5px solid #75634a
}