#homeHot {
    padding: 0;
    margin: 0;
}
/*首页大图*/
#headImg img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
/*首页热图浏览，左右对分，限定宽度借用float布局*/
.homeHotImg:nth-child(odd) {
    float: left;
}
.homeHotImg:nth-child(even) {
    float: right;
}

.homeHotImg {
    padding: 0.5%;
    width: 49%;
    height:300px;
    overflow: hidden;
    border:2px solid #af926f;
    border-radius: 8px;
    box-shadow: 0 0 8px #444444;
    margin:0.5%;
}

.homeHotImg img {
    float: left;
    height:100%;
    width: auto;
    margin-right: 1em;
}

.hotDiv {
    padding: 10px 10px 10px 10px;
    height:100%;
}

.hotDiv h3 {
    display: inline;
    font-family: 微软雅黑, monospace;
    font-weight: bold;
    font-size: 24px;
    white-space: nowrap;text-overflow: ellipsis;
    line-height: 1.4;
}

.hotDiv h3:hover {
    color: #7f6e02;
}

.hotDiv p {
    margin:7px 0 1em 07px;
    font-family: 微软雅黑, monospace;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
}

.hotDiv p:hover {
    color: #6f5f01;
}

.hotDiv a{
    text-decoration: none;
    color: black;
}