#homeHot {
    padding: 0;
    margin: 0;
}

#headImg img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.homeHotImg:nth-child(odd) {
    float: left;
}
.homeHotImg:nth-child(even) {
    float: right;
}

.homeHotImg {
    padding: 0.5%;
    width: 50%;
    height:300px;
    overflow: hidden;
}

.homeHotImg img {
    float: left;
    height:100%;
    width: auto;
    margin-right: 1em;
}

.hotDiv {
    padding: 10px 10px 10px 10px;
    height:100%;
}

.hotDiv h3 {
    display: inline;
    font-family: 微软雅黑, monospace;
    font-weight: bold;
    font-size: 24px;
    white-space: nowrap;text-overflow: ellipsis;
}

.hotDiv h3:hover {
    color: #7f6e02;
}

.hotDiv p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    margin:7px 0 1em 07px;
    font-family: 微软雅黑, monospace;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hotDiv p:hover {
    color: #6f5f01;
}

.hotDiv a{
    text-decoration: none;
    color: black;
}