/*搜索栏*/
.searchDiv {
    margin: 24px;
}

h2 {
    font-size: 32px;
    font-family: 幼圆, monospace;
}

input[type="text"] {
    margin: 1em 0 1em 1em;
    font-size: 20px;
    width: 24em;
    height: 2em;
}

textarea {
    margin: 1em 0 1em 1em;
    font-size: 20px;
    font-family: 微软雅黑, monospace;
}

.searchDiv input[type="submit"] {
    font-size: 20px;
    margin: 12px;
}

/*结果栏*/
#searchResult {
    margin: 24px;
}

.boxOfResult {
    border-top: 1px solid #444444;
    height: 200px;
}

.boxOfResult img {
    float: left;
    margin: 12px;
    -webkit-margin-collapse: collapse;
    height:calc(100% - 24px);
}

.boxContent {
    -webkit-margin-collapse: collapse;
}