#uploadPhoto{
    width: 88%;
    margin:32px auto 32px auto;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    padding: 24px;
    box-shadow: 0 0 16px #C4C4C4;
}

em{
    display: block;
    margin: 24px;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    color: #4db2b6;
}

legend{
    font-size: 32px;
}

#uploadPhoto:hover,#uploadImg:hover{
    box-shadow: 0 0 16px #B8B8B8;
}

#uploadImg{
    text-align: center;
    padding:18px 16px 18px 18px;
    margin:24px auto 24px auto;
    border-radius: 5px;
    border: 2px solid #B8B8B8;
    width: max-content;
    box-shadow: 0 0 16px #C4C4C4;
}

img{
    vertical-align: middle;
    horiz-align: center;
}

#uploadImg input{

}

label{
    display: block;
    font-size: 26px;
    font-family: 幼圆,monospace;
    border:4px dotted #af926f;
    width: max-content;
    padding: 12px 20px 0 12px;
}

label:hover{
    border:4px dashed #75634a;
    box-shadow: 4px 4px 8px #A8A8A8A8;
}

input[type="text"]{
    margin:1em 0 1em 2em;
    font-size: 20px;
    width: 24em;
    height: 2em;
}

textarea{
    margin:1em 0 1em 2em;
    font-size: 20px;
    font-family: 微软雅黑,monospace;
}

#upload,#uploadSubmit{
    font-size: 26px;
    background-color: #af926f;
    color: white;
}

#upload:hover,#uploadSubmit:hover{
    background-color: #876f55;
    color: whitesmoke;
    box-shadow: 3px 3px 4px #B8B8B8;
}